# =========================
# Baza info
# =========================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USER=your_username
DB_PASSWORD=your_password_here


# =========================
# OAI-PMH info
# =========================

# OAI endpoint (bez query parametara)
OAI_BASE_URL=https://rfos.fon.bg.ac.rs/oai/request

# Metadata format
OAI_METADATA_PREFIX=oai_dc
